{% extends 'base.html.twig' %}
{% block title %}Fichier{% endblock %}
{% block body %}

<div class="example-wrapper">
    <hi>Ajouter fichier :</hi>
    <!-- Bien penser à enxtype -->
    <form action="/majFichier" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col">
                <lable for="fichier" class="form-lable"> Fichier :</lable>
                    <input type="file" class="form-control" id="fichier" name="fichier" placeholder="Indiquez le fichier à télécharger" required>
            </div>
        </div>
        <div class="form-row">
                <lable for="typef" class="form-lable"> Type de fichier :</lable>
                <select name="typef" id="typef">
                    {% for un_type in lst_types %}
                        <option value={{ un_type.id }}
                        {% if type_sel %} 
                        {{ type_sel==un_type.id?'selected':'' }} 
                        {% endif %}> 
                        {{ un_type.Type }}
                        </option>
                    {% endfor %}
                </select>
        </div>
        <input id="id" name="id" type="hidden" value="{{ editfith.id }}">
        <input id="mode" name="mode" type="hidden" value="{{ mode }}">  
        <div class="form-group">
            <input type="submit" class="btn btn-primary" valve="{{ mode }}">  
        </div>
    </form>

</div>
{% endblock %}




            